In [2]:
import pandas as pd
df = pd.read_csv("data/population_complete.csv",sep=",")

In [8]:
df["Total"] = df.groupby(['Year', 'District.Code', 'District.Name', 'Neighborhood.Code',
       'Neighborhood.Name', 'Gender', 'Age'])["Number"].transform("sum")

In [6]:
df.columns

Index(['Year', 'District.Code', 'District.Name', 'Neighborhood.Code',
       'Neighborhood.Name', 'Gender', 'Age', 'Number'],
      dtype='object')

In [19]:
new_df = df.drop_duplicates(subset=['Year', 'District.Code', 'District.Name', 'Neighborhood.Code',
       'Neighborhood.Name', 'Gender', 'Age'])

In [21]:
new_df.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number,Total
0,2019,1,Ciutat Vella,1,el Raval,Female,0-4,206,965
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Female,0-4,50,247
2,2019,1,Ciutat Vella,3,la Barceloneta,Female,0-4,38,216
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Female,0-4,67,335
4,2019,2,Eixample,5,el Fort Pienc,Female,0-4,136,591

In [26]:
new_df = new_df.drop("Number",axis=1)

In [32]:
new_df.reset_index(drop=True)

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Total
0,2019,1,Ciutat Vella,1,el Raval,Female,0-4,965
1,2019,1,Ciutat Vella,2,el Barri Gòtic,Female,0-4,247
2,2019,1,Ciutat Vella,3,la Barceloneta,Female,0-4,216
3,2019,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Female,0-4,335
4,2019,2,Eixample,5,el Fort Pienc,Female,0-4,591
...,...,...,...,...,...,...,...,...
20435,2013,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,>=95,21
20436,2013,10,Sant Martí,70,el Besòs i el Maresme,Female,>=95,25
20437,2013,10,Sant Martí,71,Provençals del Poblenou,Female,>=95,31
20438,2013,10,Sant Martí,72,Sant Martí de Provençals,Female,>=95,38
20439,2013,10,Sant Martí,73,la Verneda i la Pau,Female,>=95,47

In [33]:
new_df.to_csv("data/population_complete.csv",index=False)